[Unit]
Description=SubLim3 USB Auto Import for %I
After=multi-user.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /home/pi/SubLim3-JukeBox/scripts/SubLim3-USB-AutoImport.sh /dev/%I
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
